<h1> <%= @party.party_name %> Party  </h1>

<ul>
  <li>Table: <%= @party.table_number %> </li>
  <li>Number of guests: <%= @party.party_size %> </li>
  <li>Date and time: <%= @party.created_at %> </li> 
  <li>Paid? <%= @party.meal_paid %> </li>
 </ul>
  
<h3>Start an Order</h3>
    <ul>
        <% @foods.each do |food| %>
            <form action="/orders" method="POST">
                <input type="hidden" name="order[food_id]" value="<%= food.id %>"><a href="/foods/<%= food.id %>"><%= food.name %> - $<%= food.price %></a>
                <input type="hidden" name="order[party_id]" value="<%= @party.id %>">
                <input type="submit" value="Add Item">
            </form>
        <% end %>
    </ul>

    <h3>Order Details</h3>
    <ul>
      <% @party.orders.each do |order| %>
        <li><%= order.food.name %> - $<%= order.food.price %></li>
        <form action="/orders/<%= order.id %>" method = "POST">
          <br>
          <input type="hidden" name="_method" value="DELETE">
          <br>
          <input type="submit" value="Delete food item">
        </form>
      <% end %>
    </ul>

    <h3>Subtotal: $<%= @party_order.sum(:price) %></h3>



